body {
	background-color: black;
	font-size: 20px;
	height: 100vh;
	display: grid;
	place-items: center;
}

.header__title {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	font-family: 'Monoton', 'cursive';
	font-size: 1.5rem;
	color: #FFF;
	letter-spacing: 0.8rem;
}

.slideshow {
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: 80vh;
	background-color: green;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.slide {
	list-style: none;
}
/* .slideShow__container {
	height: 100vh;
	max-width: 100vw;
	position: relative;
	background-color: lightgreen;
	border: 1rem;
	list-style: none;
} */
/* 
.slideShow__track {
	display: flex;
	justify-content: center;
} */

.photo_box {
	height: 100%;
	max-width: 1000px;
	/* max-height: 600px; */
	position: absolute;
	transition: all 0.5s;
}

.slideshow__images {
	max-height: 800px;
	object-fit: cover;
}



/* 
.photo_box__hidden {
	display: none;
} */

.slideshow__images--text {
	color: #FFF;
	display: flex;
	justify-content: center;
}


.slideshow__button {
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.5rem;
	border-radius: 50%;
	cursor: pointer; 
	color: #b27fb7;
	font-size: 2rem;
	border-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	background-color: #8b628f;
	
} 

/* .button_previous {
	top: 50%;
}

.button_next {
	top: 50%;
} */

.slideshow__button--previous {
	top: 45%;
	left: 2rem;
}


.slideshow__button--next {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	top: 45%;
	right: 2rem;
}

.slideshow__navigation {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 1rem 0;
	
}

.slideshow__dots {
	border: 0;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	background: #8b628f;
	margin: 0 5px;
	display: inline-block;
	cursor: pointer;
}



@media screen and (max-width: 768px) {
	
}

@media screen and (min-width: 768px) {

	}
