body {
	background-color: black;
	font-size: 20px;
	max-width: 1200px;
	width: 100%;
	margin: 20px auto;
	
	
}

.header__title {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	font-family: 'Monoton', 'cursive';
	font-size: 1.5rem;
	color: #FFF;
	letter-spacing: 0.8rem;
}

.slideshow {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	max-height: 500px;
/* 	display: flex;
	justify-content: center; */
}

.slideShow__container {
	height: 100%;
	max-width: 1200px;
	/* display: flex;
	justify-content: center; */
	position: relative;
	background-color: lightgreen;
	border: 1rem;
	list-style: none;
}

.slideShow__images {
	padding: 20px;
	margin: 20px;
	max-height: 70vh;
	max-width: 100%;
	 /* display: flex;
	justify-content: center; */
}

.slideShow__track {
	/* display: flex;
	justify-content: center;
	flex-direction: column; */
}


.slide {
	display: flex;
	justify-content: center;
	/* margin: 2rem;
	width: 80%; */
}


.slideshow__images--text {

}


/* .slideShow__button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 100%;
	padding: 0rem 0.6rem;
	color: #b27fb7;
	font-size: 2rem;
	border-style: none;
	background-color: #8b628f;
	cursor: pointer;
}

.slideShow__button--previous {
	left: -2rem;
}

.slideShow__button--next {
	left: -2rem;
} */




/*
.slideShow__navigation {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slideShow__indicator {
	border: 0;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	background: #8b628f;
}

 */


 @media screen and (max-width: 768px) {
	
}

@media screen and (min-width: 768px) {

	}
